@import './mixin/mixin.scss';


@include b(col) {
  float: left;
  box-sizing: border-box;
}
@for $i from 1 through 24 {
    .el-col-#{$i} {
        width: $i / 24 * 100%;
    }
}
// xs < 768px
@include response(xs){
  @for $i from 1 through 24 {
    .el-col-xs-#{$i} {
        width: $i / 24 * 100%;
    }
  }
}
// md [768px, 992px)
@include response(sm) {
  @for $i from 1 through 24 {
    .el-col-sm-#{$i} {
        width: $i / 24 * 100%;
    }
  }
}
@include response(md) {
  @for $i from 1 through 24 {
    .el-col-md-#{$i} {
        width: $i / 24 * 100%;
    }
  }
}
@include response(lg) {
  @for $i from 1 through 24 {
    .el-col-lg-#{$i} {
        width: $i / 24 * 100%;
    }
  }
}
@include response(xl) {
  @for $i from 1 through 24 {
    .el-col-xl-#{$i} {
        width: $i / 24 * 100%;
    }
  }
}