@import './mixin/mixin.scss';
@import './mixin/util.scss';

@include b(row) {
  border: 1px solid;
  @include utils-clearfix;
  @include m(flex) {
    display: flex;
    &::after{
     display: none;
    }
  }
}
