@mixin  utils-clearfix {
    $selector: &;
    @at-root {
      #{$selector}::after {
        content: '';
        display: block;
      }
      #{$selector}::after {
        clear: both;
      }
    }
}